.carousel-section {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 1000;
    position: absolute;
    padding-top:30px;
}
.carousel-section h2 {
    font-size: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
}
.carousel-window {
    width: 40%;
    height: 50%;
    overflow: hidden; /* 隱藏窗戶外的東西 */
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.carousel-track {
    width: 100%;
    height: 100%;
    display: flex; /* 讓內容橫向排列 */
    width: 100%;
}

.carousel-item {
    width: 100%;
    flex: 0 0 100%; /* 每一格都剛好佔滿 100% 視窗 */
    padding: 20px;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.food-info {
    margin-top: 15px;
}

.carousel-btns {
    margin-top: 20px;
}

.carousel-btns button {
    padding: 10px 20px;
    cursor: pointer;
    background: #393f34;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
}

@media (max-width:1024px) {
    .carousel-window {
        width: 60%;
        height: 40%;
    }
    .carousel-section h2 {
        font-size: 50px;
    }
}
@media (max-width:768px) {

}